@inherits LayoutComponentBase

<Layout Style="height: 100%">
    <Sider Breakpoint="@BreakpointType.Lg"
           CollapsedWidth="64"
           @bind-Collapsed="@collapsed">
        <div class="logo" style="height: 32px; margin: 16px;">
            <img src="favicon.png" alt="" width="32" height="32">
        </div>
        <NavMenu/>
    </Sider>
    <Layout Style="height: 100%">
        <NavHeader/>
        <Content Style="padding: 24px 16px 0; height: 100%;overflow: scroll">
            <div style="min-height: 360px;">
                @Body
            </div>
        </Content>
        <NavFooter/>
    </Layout>
</Layout>

@code{
    bool collapsed;
}
